# Ignore gem files
*.gem

# Ignore sublime workspace files
*.sublime-workspace

# Ignore bundler config
.bundle

# Ignore ruby gemset config
.ruby-gemset

# Ignore ruby version config
.ruby-version

# Ignore rvm config
.rvmrc

# Ignore “Gemfile.lock”
Gemfile.lock

# Ignore bundler stubs
bin

# Ignore “pkg” folder
pkg